.contact-carousel{
    height: 300px;
    background-image: url('../images/banner1.jpg');
    background-position: center center;
}
.contact-section{
    padding: 4rem 15px;
}
.contact-title h1{
    color: #ff4f81;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
}
.contact-title span{
    font-size: 17px;
    letter-spacing: 4px;
    font-weight: 500;
}
.contact-content{
    min-height: 300px;
}
.contact-info{
    background-color: #0e0e0e;
    padding: 2em 2em;
}
.contact-info h3{
    font-size: 1.4em;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}
.contact-detail{
    margin-bottom: 30px;
}
.contact-detail div{
    width: 50px;
    height: 50px;
    border: 2px solid #ddd;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 15px;
}
.contact-detail i{
    font-size: 20px;
}
.contact-detail h4{
    font-size: 1em;
    color: #ff4f81;
}
.contact-detail span{
    font-size: 0.9em;
    color: #cecaca;
    line-height: 1.8em;
}
.contact-social i{
    padding: 8px 10px;
    background-color: white;
    transition: all 0.5s;
}
.contact-facebook{
    color: #3b5998;
}
.contact-facebook:hover{
    background-color: #3b5998;
    color: white;
}
.contact-twitter{
    color: #1da1f2;
}
.contact-twitter:hover{
    background-color: #1da1f2;
    color: white;
}
.contact-rss{
    color: #f26522;
}
.contact-rss:hover{
    background-color: #f26522;
    color: white;
}
.contact-img{
    background-image: url('../images/g11.jpg');
    background-size: cover;
}
.contact-form input,.contact-form textarea{
    padding: 14px;
    border-radius: 0px;
    background-color: #f5f5f5;
}
.contact-form textarea{
    resize: none;
}
.btn-contact{
    background-color: #ec1995;
    color: white;
    border-radius: 0px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    font-size: 20px;
}
.btn-contact:hover{
    background-color: #ff4f81;
}
.map{
    padding: 20px;
    background-color: #f5f5f5;
}
.map iframe{
    width: 100%;
    height: 400px;
}