#header{
    background-color: #ff4f81;
    color: white;
}
.header-left i{
    margin-right: 4px;
}
.header-right i{
    font-size: 15px;
    padding: 8px 10px;
    background-color: #333333;
    margin-left: 5px;
    border: 1px solid transparent;
    transition: all 0.5s;
}
.header-right i:hover{
    background-color: #ff4f81;
    border-color: white ;
}

/* NAVBAR */
.navbar-brand--logo p{
    color: #ff4f81;
    font-size: 0.8em;
    margin-top: -5px;
}
.navbar-nav--menu .nav-item .nav-link{
    font-weight: bold;
    color: #282828;
    transition: all 0.5s;
}
.navbar-nav--menu .nav-item{
    margin-left: 20px;
}
.navbar-nav--menu{
    margin-top: -40px;
}
.navbar-nav--menu .nav-item .nav-link:hover{
    color: #ff4f81;
}
.nav-item__line{
    width: 0%;
    height: 2px;
    background-color: #ff4f81;
    transition: all 0.5s;
}
.navbar-nav--menu .nav-item:hover>.nav-item__line{
    width: 100%;
}
.navbar-nav--menu .active .nav-link{
    color: #ff4f81 !important; 
}
.navbar-nav--menu .active .nav-item__line{
    width: 100%;
}

/* Carousel */
.carousel-item img{
    width: 100%;
}

.carousel-caption--config{
    bottom: 40%;
}
.carousel-caption--config h1{
    font-weight: normal;
    font-size: 3.3em;
}
.carousel-caption--config p{
    letter-spacing: 4px;
    font-size: 1.1em;
    line-height: 1.8em;
}
.carousel-indicators--config{
    bottom: 20%;
}
.btn--read-more{
    border-radius: 0;
    margin-top: 10px;
    transition: all 0.5s;
}
.btn--read-more:hover{
    background-color: #ff4f81;
    color: white;
}
.modal-header--carousel h1{
    color: #ff4f81;
    font-weight: bold;
}

/* WELCOME */
.welcome-section{
    padding: 3rem 15px;
}
.welcome-title h1{
    color: #ff4f81;
    font-size: 40px;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.welcome-title span{
    font-size: 17px;
    letter-spacing: 4px;
    font-weight: 500;
}
.welcome-title__line{
    width: 70px;
    height: 2px;
    background-color: black;
}
.welcome-title p{
    font-size: 15px;
    color: #999999;
    line-height: 1.8em;
    padding: 0 10%;
}

.education-course i{
    font-size: 30px;
}
.education-course h2{
    color: #ff4f81;
    font-weight: 600;
    margin: 15px 0;
}
.education-course h3{
    font-size: 1em;
    font-weight: bold;
}
.education-course p{
    font-size: 15px;
    color: #999999;
    line-height: 1.8em;
}

/* OUR Star */
.start-section{
    min-height: 400px;
    background-image: url('../images/banner2.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 3rem 15px;
}
.start--title h1{
    color: #ff4f81;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
}
.start--title span{
    font-size: 17px;
    letter-spacing: 4px;
    font-weight: 500;
    color: white;
}
.start--detail{
    color: white;
    text-align: center;
}
.start--detail i{
    font-size: 40px;
}.start--detail h2{
    font-size: 25px;
    color: #ff4f81;
    margin-top: 20px;
}
.start--detail p{
    font-size: 40px;
}

/* OFFER */
.offer-section{
    padding: 3rem 15px;
}
.offer-title h1{
    color: #ff4f81;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
}
.offer-title span{
    font-size: 17px;
    letter-spacing: 4px;
    font-weight: 500;
} 
.offer-item{
    -webkit-box-shadow: 0px 0px 2px 1px #aaa;
    -moz-box-shadow: 0px 0px 2px 1px #aaa;
    -o-box-shadow: 0px 0px 2px 1px #aaa;
    box-shadow: 0px 0px 2px 1px #aaa;
    padding: 2rem 1rem;
    margin-bottom:30px ;
    transition: all 0.5s;
}
.offer-item:hover{
    background-color: #12ccc3;
}
.offer-item i{
    font-size: 40px;
    color: #ff4f81;
}
.offer-item h3{
    font-size: 20px;
    color: #212121;
    margin: 25px 0 20px;
}
.offer-item p{
    font-size: 14px;
    letter-spacing: .5px;
    color: #6b6b6b;
}


/* TESTIMONIAL */
.testimonial-section{
    padding: 3rem 15px;
    min-height: 400px;
    background-image: url("../images/banner3.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.testimonial-title h1{
    color: #ff4f81;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
}
.testimonial-title span{
    font-size: 17px;
    letter-spacing: 4px;
    font-weight: 500;
    color: white;
}
.testimonial-slidder{
    
    background-color: rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0px 0px 2px 1px #8e8e8e;
    -moz-box-shadow: 0px 0px 2px 1px #8e8e8e;
    -o-box-shadow: 0px 0px 2px 1px #8e8e8e;
    box-shadow: 0px 0px 2px 1px #8e8e8e;
    padding: 30px;
}
.item__box{
    background-color: rgba(0, 0, 0, 0.57);
    padding: 10px 20px;
    color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    position: relative;
}
.item__box::after{
    content: '';
    border-top:9px solid  rgba(0, 0, 0, 0.57) ;
    border-left:9px solid transparent;
    border-right:9px solid transparent;
    position: absolute;
    bottom: -9px;
    left: 27%;
}
.item__user{
    margin-left: 27%;
    color: white;
}
.owl-carousel .item__user img{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}
.item__user p{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.1em;
}
.item__user span{
    color: #ff4f81;
    font-size: 0.8em;
}


/* NEW */
.new{
    padding: 3rem 15px;
}
.new-title h1{
    color: #ff4f81;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
}
.new-title span{
    font-size: 17px;
    letter-spacing: 4px;
}
.new-img img{
    border: solid #dedede;
}
.new-text h2{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.new-text span{
    font-size: 1em;
    color: #ff4f81; 
    font-weight: 600;
    margin: 1em 0;
    letter-spacing: 1px;
}
.new-text p{
    margin: 1em 0 0;
    color: #999999;
    font-size: 0.9em;
    line-height: 1.8em;
}
.new-img,.new-text{
    margin-bottom: 35px;
}


/* FOOTER */
.footer-detail{
    background-color: #141415;
    padding: 3rem 15px;
}
.footer-detail h2{
    color: #ff4f81;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 20px;
}
.footer-detail p{
    color: #8b8b96;
    font-size: 15px;
    margin-bottom: 10px;
}
.footer__new p i{
    color: #ff4f81;
    margin-right: 10px;
}
.footer__contact i{
    padding-top: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #4b4b50;
    color: white;
}
.footer__contact p span{
    margin-left: 10px;
}
.footer__form h2{
    color: #ff4f81;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 20px;
}
.footer__form input{
   height: 40px; 
   width: 70%;
}
.footer__form .btn-footer-submit{
    background-color: #ff4f81;
    border-radius: 0;
    height: 40px;
    margin-top: -4px;
    color: white;
    cursor: pointer;
    width: 25%;
}
.btn-footer-submit:hover{
    background-color: #ec1955;
}
.copy-right{
    background-color: #0f0f10;
}
.copy-right p span{
    color: #ff4f81;
}
/* MEDIA Query */
@media screen and (min-width:768px) and (max-width:991px){
    .navbar-brand--logo h1{
        font-size: 30px;
    }
    .navbar-nav--menu .nav-item .nav-link{
        font-size: 0.9em;
    }
    .navbar-nav--menu .nav-item{
        margin-left: 10px;
    }
    .footer__form h2{
        font-size: 1.2em;
    }
}
@media screen and (max-width:768px){
    .carousel-indicators--config{
        bottom: 10%;
    }
    .carousel-caption--config{
        bottom: 20%;
    }
    .carousel-caption--config h1{
        font-weight: normal;
        font-size: 2em;
    }
    .carousel-caption--config p{
        letter-spacing: 2px;
        font-size: 1em;
        line-height: 1.8em;
        margin-bottom: 0;
    }
    .btn--read-more{
        border-radius: 0;
        transition: all 0.5s;
    }
    /* Welcome */
    .education-course h2{
        font-size: 23px;
    }
}
@media screen and (max-width:576px){
    .carousel-indicators--config{
        bottom: 0%;
    }
    .carousel-caption--config{
        bottom: 17%;
    }
    .carousel-caption--config h1{
        font-weight: normal;
        font-size: 1.5em;
    }
    .carousel-caption--config p{
        letter-spacing: 2px;
        font-size: 0.8em;
        line-height: 1.3em;
        margin-bottom: 0;
    }
    .btn--read-more{
        border-radius: 0;
        transition: all 0.5s;
    }
    /* Welcome */
    .welcome-title__line{
        width: 50px;
    }
    .welcome-title p{
        padding: 0 5%;
    }
    

}
@media screen and (min-width:769px) and (max-width:834px){
    .carousel-indicators--config{
        bottom: 10%;
    }
    .carousel-caption--config{
        bottom: 20%;
    }
    .carousel-caption--config h1{
        font-weight: normal;
        font-size: 3em;
    }
    .carousel-caption--config p{
        letter-spacing: 2px;
        font-size: 1em;
        line-height: 1.8em;
        margin-bottom: 0;
    }
    .btn--read-more{
        border-radius: 0;
        transition: all 0.5s;
    }
}